.loginBox {
	display: inline-block;
	border-radius: 2.5rem;
	background: #fff;
	width: 36rem;
	height: 32rem;
	padding: 0 5.75rem 0 5.75rem;
}

@media screen and (max-width: 577px) {
}
.loginBox input {
	margin-bottom: 1.25rem;
	width: 25rem;
	height: 3.125rem;
	border-radius: 1rem;
	padding: 0 10px 0 10px;
	border: 1px solid var(--Secondary-Grey-500, #e0e5f2);
	border-radius: 1rem;

	/* body2 */
	font-family: Pretendard;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.0175rem;
}
.loginBox input:focus {
	outline-color: #f16686;
}
.loginBox .forgetPW {
	color: var(--primary-300, #f16686);
	text-align: right;
	/* body2 */
	font-family: Pretendard;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.0175rem;
}
.loginBox button {
	margin-top: 2.5rem;
	border: none;
	display: flex;
	width: 25rem;
	height: 3.75rem;
	padding: 0.625rem 0.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	flex-shrink: 0;
	border-radius: 1.25rem;
	background: var(--primary-400, #ed335d);
	color: #fff;
	text-align: center;

	/* body1 */
	font-family: Pretendard;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.02rem;
}

.loginBox .noneCorrect {
	margin-top: 0.75rem;
	color: var(--primary-300, #f16686);
	text-align: left;

	/* body2 */
	font-family: Pretendard;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.0175rem;
}
