#homeIconLink {
    cursor: pointer; /* 아이콘을 올렸을 때 커서 모양을 바꿔줍니다. */
  }
  
  #cancleButton {
    width: 80px;
    height: 30px;
    cursor: pointer;
    text-align: center;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 1.2em;
  }
  
  .page-container {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    float: left;
    margin-left: 18%;
  }
  
  .page-container p {
    text-align: left;
  }
  
  